.invoice {
    break-after: always;
    // margin-top: 270px;
    //     margin-left: 100px;
    //     margin-right: 100px;
}

.invoice:last-child {
    break-after: avoid;

}
div{
    font-size: 25px;
    line-height: 50px;
}
.main-content{
    // margin-top: 270px;
    margin-left: 100px;
    margin-right: 100px;
}