<table style="height: 100%;">
    <thead >
        <tr>
            <td>
                <div class="header-space   ">

                </div>
            </td>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td >
                
                <div  class="content" >
                    <router-outlet></router-outlet>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div class="footer-space"></div>
            </td>
        </tr>
    </tfoot>
</table>

<div class="header ">    
    <img height="100" width="100" src="assets/ocplogo.png">
         
</div>
<div class="footer" >Responsable action et relation sociales</div>


