<div class="col d-flex flex-row card py-4 pr-4 pe-2 ">
    <div class=" col-3  my-auto text-center text-style" >{{collaborateur?.matricule}}</div>
    <div class="border" ></div>
    <div class=" col-3 text-center  my-auto text-center text-style">{{collaborateur?.nom}}</div>
    <div class="border"></div>
    <div class=" col-3  my-auto text-center text-style">{{collaborateur?.prenom}}</div>
    <div class="border"></div>
    <div class=" col-3  my-auto text-center text-style">{{collaborateur?.cin}}</div>
</div>