<div class="col-md-12 d-flex my-3 ps-0 ">
  
        <div class="col-md-3 text-center text-style ">Conjoint </div>
        <div class="border"></div>
        <div class="col-md-3 text-center text-style ">{{conjoint?.matricule}}</div>
        <div class="border"></div>
        <div class="col-md-3 text-center text-style "> {{conjoint?.nom}} </div>
        <div class="border"></div>
        <div class="col-md-3 text-center text-style ">{{conjoint?.prenom}}</div>
        <div class="border"></div>
   
</div>

